* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --lightestGray: #f3f3f3;
  --darkGray: #d7d7d7;
  --iconGray: #999999;
  --mediumGray: #cccccc;
  --headerBlack: #010101;
  --thisRed: #bc271a;
  --icons: #2e2e2e;
  font-family: Arial, Helvetica, sans-serif;
}

i:hover,
a:hover {
  cursor: pointer;
  filter: brightness(120%);
}

hr {
  height: 0.7rem;
  background-color: black;
  border: 0;
}

body {
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  height: 3rem;
  justify-items: center;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0;
}

.header i {
  padding-top: 0.8rem;
  color: var(--iconGray);
}

.brand-logo {
  width: 10rem;
}

.meaningless-wrapper i {
  position: absolute;
  right: 20px;
  top: 4.3rem;
  color: var(--iconGray);
}

.nav input {
  padding: 0.7rem;
  width: 95%;
  font-style: italic;
  margin: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 0.9rem;
  position: relative;
  background-color: var(--lightestGray);
}

input::placeholder {
  color: #999999;
  font-size: 1.1rem;
}

.image-overlay::before {
  content: "Free Shipping on Orders Over $50* »";
  position: absolute;
  background-color: #cbcbcb;
  width: 100%;
  color: #303030;
  left: 0;
  padding: 0.8rem 0;
  font-size: 1.2rem;
}

.image-overlay {
  background: center / cover url(./assets/P1.jpg);
  height: 28rem;
}

.image-overlay h3,
.image-overlay h1 {
  font-family: "Permanent Marker", cursive;
  color: var(--darkGray);
}

.image-overlay h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  line-height: 2rem;
}

.image-overlay h3 {
  font-size: 1.5rem;
  padding-top: 12rem;
}

.t1 {
  background: center / cover url(/xcclosed.jpg);
}

.t2 {
  background: center / cover url(/trailclosed.jpg);
}

.t3 {
  background: center / cover url(/dryclosed.jpg);
}

.t1 h4,
.t2 h4,
.t3 h4 {
  font-family: "Permanent Marker", cursive;
  color: rgb(214, 214, 214);
  font-size: 2rem;
  padding-top: 0.5rem;
  margin-bottom: -0.8rem;
}

#tire-subtext {
  color: white;
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.tire-guide1,
.step1 p,
.step2 p,
.step3 p,
.step4 p {
  padding: 1.9rem;
  text-align: left;
  line-height: 1.6rem;
  font-size: 1.25rem;
  color: #020202;
}

.step1 .step-description,
.step2 .step-description {
  padding-bottom: 0;
}

.tg1-steps p:first-child {
  margin-top: 3rem;
}

.tire-guide1 h1 {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 550;
  color: var(--headerBlack);
}

.tg1-steps {
  text-align: center;
  margin-top: 2rem;
}

.tg1-steps p:nth-child(odd) {
  font-weight: 600;
  margin-top: 0.5rem;
}

.step1,
.step2,
.step3,
.step4 {
  background-color: rgb(199, 199, 199);
  padding-top: 2rem;
}

.step1 h1 {
  font-size: 1.7rem;
}

.step4 {
  padding-bottom: 4rem;
  transition: 0.1s;
}

.step4 span:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.dots i {
  margin: 0.5rem;
  font-size: 0.6rem;
}

.step4 span {
  color: gray;
}

.step4 span:first-child,
.dots i:first-child {
  color: var(--thisRed);
}

.step4 .step4-title {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.step4 .step4-sub {
  font-size: 1.8rem;
  padding-top: 0;
  padding-bottom: 1rem;
  font-weight: 600;
}

.step4 .step4-category {
  font-size: 1.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 300;
}

.step1 h1,
.step2 h1,
.step3 h1,
.step4 h1 {
  text-align: center;
  padding: 0.4rem 2rem 0 2rem;
}

.step1 .more-images,
i,
.step2 .more-images,
i,
.step3 .more-images,
i {
  color: var(--thisRed);
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 1rem;
  font-size: 1.1rem;
}

.hero-tire-guide {
  padding: 0;
  margin: 0;
}

.step1-tires,
.step2-tires,
.step3-tires {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 14.7rem;
  grid-gap: 0.3rem;
  padding-bottom: 0.8rem;
}

.step3 hr {
  margin-top: 1rem;
}
img {
  width: 95%;
}

.step4 h1 {
  text-transform: uppercase;
}

.vittoria-image img {
  height: 20rem;
  width: 70%;
}

.vittoria-image p {
  padding: 0;
  text-align: center;
  position: relative;
  bottom: 5.5rem;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  line-height: 1rem;
}

.vittoria-image p:nth-child(2) {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  position: relative;
}

.step4 a {
  color: black;
  padding-bottom: 0.2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  text-decoration: none;
}

.chat-now {
  background-color: rgb(20, 20, 20);
  color: rgb(224, 224, 224);
  font-size: 1.3rem;
  padding-top: 1.2rem;
}

.chat-now p:first-child {
  text-transform: uppercase;
  padding-bottom: 0;
  font-size: 1.7rem;
  text-align: left;
}

.chat-now p:nth-child(2) {
  padding-top: 0;
  font-size: 1.1rem;
}

.chat-now p {
  padding: 2rem;
  text-align: justify;
}

.chat-now p:nth-child(2) {
  padding-bottom: 0;
}

.chat-now button {
  width: 80%;
  padding: 1rem;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  transition: 0.1s;
  background-color: rgb(20, 20, 20);
}

.chat-now button:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}

.footer {
  background-color: #f3f3f3;
}

.footer button {
  text-align: center;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 2px;
  width: 10rem;
  color: gray;
  transition: 0.1s;
}

.footer button:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  color: white;
}

.footer ul {
  text-align: left;
  list-style: none;
  margin: 2rem 0;
}

.footer li:first-child {
  border-top: 1px solid var(--mediumGray);
}

.footer li {
  padding: 1rem;
  border-bottom: 1px solid var(--mediumGray);
  transition: 0.1s;
}

.footer li:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

.email-header {
  text-transform: uppercase;
}

.footer i {
  font-size: 2rem;
  padding: 5px;
  margin: 1rem 0;
}

.footer input {
  margin-top: 2rem;
  width: 90%;
  background-color: white;
}

.footer a {
  color: gray;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid gray;
  margin-bottom: 1rem;
}

.footer .search-field {
  padding: 0.7rem;
  width: 95%;
  font-style: italic;
  margin: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 0.9rem;
  position: relative;
  background-color: var(--lightestGray);
  background: url(./assets/search.png) no-repeat scroll 21.5rem 9px;
}

.footer-input input {
  width: 70%;
  padding: 0.7rem;
  font-style: italic;
  margin: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 0.95rem;
  position: relative;
  background-color: var(--lightestGray);
}

.footer-input .fa-envelope {
  font-size: 1.3rem;
  color: white;
  background-color: var(--icons);
  padding: 0.65rem;
  position: relative;
  left: -10px;
  top: 1px;
  border-radius: 0 2px 2px 0;
}

.footer button {
  border: 1px solid #565656;
}

.footer-icons i {
  color: var(--icons);
}

.by-me {
  color: gray;
  font-size: 0.5rem;
  padding-bottom: 2rem;
}
